* {
  text-rendering: optimizeLegibility;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  height: 75px;
  width: 100vw;
}

#header {
  width: 100%;
  height: 100%;
  background-color:#0B48A3;
  display: flex;
}

.header-message {
  color: white;
  margin: 10px;
}

#header-icons {
  height: 100%;
  width: 100%;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#header-icons ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
}

#header-icons ul li {
  list-style-type: none;
}

#header-icons button {
  background-color: inherit;
  color: white;
}

.main-horizontal-content {
  width: 100%;
  height: calc(100% - 75px);
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

#main-project {
  height: 100%;
  width: 40%;
  background-color: #c7d9f2;
  border-right: 2px solid #95baed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow-y: scroll;
}

.new-task-wrap {
  width: 100%;
  height: 70px;
  margin-right; 10px;
  background-color: #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-wrap {
  width: 80%;
  height: 60%;
  background-color: white;
}

.form-wrap form {
  width: 100%;
  height: 100%;
}

input[name="message"] {
  width: 90%;
  margin-left: 3%;
  border: none;
  font-size: 14px;
  height: 90%; /* line-height is like line spacing for text based elements */
}

#other-projects {
  height: 100%;
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.task-preview-wrap {
    background-color:inherit;
    flex-grow: 10;
    padding: 20px;
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

/* each individual preview box  #d5dfed*/
.task-preview-box {
    background-color:  #e4e8ed;
    width: calc(100% - 33px);
    padding: 10px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.task-description {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: large;
}

.bottom-task-preview-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.project-summary-wrap {
  width: calc(100% - 30px);
  padding: 20px;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow-y: scroll;
}

/* each individual summary box #a7b3c7*/
.project-summary-box {
    background-color: #a1b0c7;
    margin-bottom: 20px;
    padding: 10px;
    width: calc(100% - 33px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.top-project-summary-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-name {
    white-space: nowrap;
    font-size: 150%;
}

.mid-project-summary-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.passed-warning-msg {
    color: #c74630;
}

.imminent-warning-msg {
    color: #c77130;
}

.smaller-icon-wrap > img {
  width: 20px;
  height: 20px;

  margin-top: 2px;
  margin-right: 5px;
}

.bigger-icon-wrap > img {
  width: 21px;
  height: 21px;
  margin-top: 2px;
  margin-right: 3px;
}

/* Common across the page */
.warning {
    display: flex;
    height: 25px;
    justify-content: flex-start;
    align-items: center;
}

.deadline {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    white-space: nowrap;
    font-weight: bold;
}

.img-wrap > img {
  width: 49px;
  height: 49px;
  border-radius: 50%;
}

.svg-wrap {
  border: none;
  background-color: #ededed;
}

#logIn-signUp {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 40vw;
  padding: 10px;
}
input[type="text"] {
  max-width: 50%;
  width: 50%;
  margin-bottom: 16px;
}
input[type="submit"] {
  background-color: rgb(0, 140, 255);
  color: white;
  padding: 10px;
  border-radius: 10px;
}
