* {
  text-rendering: optimizeLegibility;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
/* top banner */
header {
  height: 75px;
  width: 100vw;
}

#header {
  width: 100%;
  height: 100%;
  background-color:#0B48A3;
  display: flex;
}

.header-message {
  color: white;
  margin: 10px;
}

#header-icons {
  height: 100%;
  width: 100%;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#header-icons ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
}

#header-icons ul li {
  list-style-type: none;
}

#header-icons button {
  background-color: inherit;
  color: white;
}


/* main content */
.main-horizontal-content {
  width: 100vw;
  height: calc(100vh - 75px);
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

/* main project */
#main-project {
  height: 100%;
  width: 40%;
  background-color: magenta;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

/* main project task preview */
.task-preview-wrap {
    background-color:pink;
    margin: 10px;
    padding: 10px;
    width: calc(100% - 40px);
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
}

/* each individual message preview box */
.task-preview-box {
    background-color: #4b81b8;
    width: calc(100% - 20px);
    padding: 10px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.deadline {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    white-space: nowrap;
    font-weight: bold;
}

.task-description {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: large;
}

.bottom-task-preview-wrap {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.top-project-summary-wrap {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.project-name {
    white-space: nowrap;
    font-size: 150%;
}

/* other project summaries */
#other-projects {
  height: 100%;
  width: 60%;
  margin-right: 30px;
  background-color: #86878a;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
}

.project-summary-wrap {
  width: calc(100% - 40px);
  margin: 10px;
  padding: 10px;
  background-color: #a7b3c7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: scroll;
}

/* each individual message preview box */
.project-summary-box {
    background-color: inherit;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid;
    width: calc(100% - 20px);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.img-wrap > img {
  width: 49px;
  height: 49px;
  border-radius: 50%;
}

/* new task */
.new-task-wrap {
  width: 100%;
  height: 70px;
  margin-right; 10px;
  background-color: #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-wrap {
  width: 80%;
  height: 60%;
  background-color: white;
}

.form-wrap form {
  width: 100%;
  height: 100%;
}

input[name="message"] {
  width: 90%;
  margin-left: 3%;
  border: none;
  font-size: 14px;
  height: 90%; /* line-height is like line spacing for text based elements */
}

.svg-wrap {
  border: none;
  background-color: #ededed;
}

#logIn-signUp {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 40vw;
  padding: 10px;
}
input[type="text"] {
  max-width: 50%;
  width: 50%;
  margin-bottom: 16px;
}
input[type="submit"] {
  background-color: rgb(0, 140, 255);
  color: white;
  padding: 10px;
  border-radius: 10px;
}
