<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
</form>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
<!--            th:object="${user}" before method-->
            <form autocomplete="off" action="#" th:action="@{/registration}"
                  method="post" class="form-horizontal" role="form">
                <h2>Don't have an account? Register here! </h2>
                <div class="form-group">
                    <div class="col-sm-15">
                        <input type="text" th:value="${house.houseName}"
                               placeholder="Household: choose a new name to create your own Household, or type in an existing Household name to join" name="houseName"
                               class="form-control" />
                        <label th:if="${#fields.hasErrors('house.houseName')}" th:errors="*{house.houseName}"
                               class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-15">
                        <input type="text" th:value="${user.firstName}" placeholder="First name" name="firstName"
                               class="form-control" />
                        <label th:if="${#fields.hasErrors('user.firstName')}" th:errors="*{user.firstName}"
                               class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-15">
                        <input type="text" th:value="${user.lastName}" placeholder="Last name" name="lastName"
                               class="form-control" />
                        <label th:if="${#fields.hasErrors('user.lastName')}" th:errors="*{user.lastName}"
                               class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-15">
                        <input type="text" th:value="${user.email}" placeholder="Email" name="email"
                               class="form-control" />
                        <label th:if="${#fields.hasErrors('user.email')}" th:errors="*{user.email}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-15">
                        <input type="text" th:value="${user.username}" placeholder="Username" name="username"
                               class="form-control" />
                        <label th:if="${#fields.hasErrors('user.username')}" th:errors="*{user.username}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-15">
                        <input type="password" th:value="${user.password}" placeholder="Password" name="password"
                               class="form-control" />
                        <label th:if="${#fields.hasErrors('user.password')}" th:errors="*{user.password}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-15">
                        <button type="submit" class="btn btn-primary btn-block">Register User</button>
                    </div>
                </div>
                <span th:utext="${successMessage}"></span>
            </form>
        </div>
    </div>
</div>
</body>
</html>